<h1>New Item Report Created</h1>

<p>A new report has been created with the following details:</p>
<ul>
  <li><strong>Item Name:</strong> <%= @item_report.item_name %></li>
  <li><strong>Report Count:</strong> <%= @item_report.report_count %></li>
  <li><strong>Status:</strong> <%= @item_report.status %></li>
  <li><strong>Last Reported At:</strong> <%= @item_report.last_reported_at %></li>
</ul>